@charset 'utf-8';

html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, small article, aside, footer, header, nav, address, section, main, time, ol, ul, li, hr, strong, figure { 
    margin: 0;
    padding: 0; 
    border: 0; 
    vertical-align: baseline; 
    -webkit-text-size-adjust: none; 
    font-style: normal; 
}

ul, ol, li, dl {
    list-style: none; 
}

a:link, a:visited, a:hover, a:active { 
    text-decoration: none; 
    // font-family: 'Lato', 'LotteMartDream',  AppleGothic, sans-serif, Helvetica;
}


button { 
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    line-height: inherit;
    font: inherit;
    cursor: pointer;
    color: inherit;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
}


hr { 
    display: none; 
}

html, body {
    position: relative;
    overflow-x: hidden;
    width: 100%; 
    min-width: 100%;
    //min-height: 100%;
    //height: 100%; 
    font-size: 100%;
    font-family: 'Lato', 'LotteMartDream',  AppleGothic, sans-serif, Helvetica;
    line-height: 1.3;
}



/*** html, body에 overflow:hidden + height: 100%를 지정하면 버벅거림이 없어진다는 얘기가 있는데.....height:100%를 하면 사파리에서 푸터가 안나온다 ㅠㅠ 어쩌죠..? ***/
